name: Lab Actions and Tests
on:
  push:
    branches:
      - main

jobs:
  run-pytest:
    runs-on: ubuntu-latest
    permissions: # needed for Open ID Connect (OIDC)
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: us-east-1
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install boto3
      - name: Deploy CloudFormation S3 Bucket
        run: |
          aws cloudformation deploy \
            --template-file cf.yaml \
            --stack-name craws-lab1-s3-stack \
            --no-fail-on-empty-changeset
      - name: Run tests
        run: pytest
      